<!DOCTYPE html>
<html lang="zxx">

<!-- Head -->
<head>

<title>TravelPedia a Travel Agency Category Bootstrap Responsive Website Template | Home :: W3layouts</title>

<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="TravelPedia a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Meta-Tags -->

<!-- Custom-Stylesheet-Links -->
<!-- Bootstrap-CSS -->	  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all">
<!-- Index-Page-CSS -->	  <link rel="stylesheet" href="/css/style.css"		  type="text/css" media="all">
<!-- Owl-Carousel-CSS --> <link rel="stylesheet" href="/css/owl.carousel.css"  type="text/css" media="all">
<!-- Date-Picker-CSS -->  <link rel="stylesheet" href="/css/jquery-ui.css"	  type="text/css" media="all">
<!-- Chocolat-CSS -->	  <link rel="stylesheet" href="/css/chocolat.css"	  type="text/css" media="all">
<!-- //Custom-Stylesheet-Links -->

<!-- Fonts -->
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"	   type="text/css" media="all">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css" media="all">
<!-- //Fonts -->

<!-- Font-Awesome-File-Links -->
<!-- CSS --> <link rel="stylesheet" href="/css/font-awesome.css" 	 type="text/css" media="all">
<!-- TTF --> <link rel="stylesheet" href="/fonts/fontawesome-webfont.ttf" type="text/css" media="all">
<!-- //Font-Awesome-File-Links -->

<!-- Supportive-JavaScript -->
<script src="js/modernizr.js"></script>
<!-- //Supportive-JavaScript -->

</head>
<!-- //Head -->

<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 20%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 0px solid #000;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-top: 30px;
}

#myh1 {
	color: #FFF;
    /*font-weight: bold;*/
    /*font-size: 50px;*/
	padding-top: 100px;
	/*margin-right: 1170px;*/
    text-align: left;
}

#myh4 {
	color: #FFF;
    /*font-weight: bold;*/
    /*font-size: 50px;*/
	padding-top: 10px;
    padding-bottom: 10px;
	/*margin-right: 1170px;*/
    text-align: left;
}
#myh3 {
	color: #FFF;
    /*font-weight: bold;*/
    /*font-size: 50px;*/
	padding-top: 10px;
    padding-bottom: 10px;
	/*margin-right: 1170px;*/
    text-align: left;
    margin-left: -70px;
    margin-top: 20px;
}
#logopos {
    margin-left: 500px;
}

#inpbox {
    width:20%;
    height: 47px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}
.newbtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}

.newbtn2 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 13px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.newbtn3 {
    background-color: #337ab7;
    border: none;
    color: white;
    padding: 5px 32px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
}

.newbtn3:hover{
   background-color: #31708f;
   color: #FFF;
}

 .newbtn:hover{
    background-color: #3e8e49;
}

.newbtn2:hover{
   background-color: #3e8e49;
}
.myimg{
    background-image: url("/images/slide-4.jpg");
}

</style>
<!-- style -->

<body>
    <!-- Slider -->
    <div class="slider">
        <ul class="rslides" id="slider">
            <li class="first-slide w3ls">
                <img src="/images/slide-4.jpg" alt="TravelPedia">
					<!-- search table -->
		            <div class="col-sm-12" style="height: 100px; position: absolute; margin-top: 150px;">
		                <h1 id="myh1" style="margin-left: 28px;">Add Tours</h1>
						<form method="post" action="/addtours">
		                  <div class="col-sm-12">
		                    <!-- <h4 id="myh4">Username</h3> -->
		                    <input id="inpbox" type="text" class="form-control" name="destination" placeholder="Destination">

		                    <!-- <h4 id="myh4">Password</h4> -->
		                    <input id="inpbox" type="text" class="form-control" name="days" placeholder="Number of days">

							<input id="inpbox" type="text" class="form-control" name="budget" placeholder="Budget">

		                    <!-- <h4 id="myh4">Password</h4> -->
		                    <input id="inpbox" type="text" class="form-control" name="theme" placeholder="Theme">

		                  	<button type="submit" class="newbtn2">Submit</button>
						</div>
		                </form>
		            </div>
		            <!-- end -->

					<!-- Display tours if any -->
					{{#if tour}}
					<div class="col-sm-12 wthreelocationsaits" style="height: 100px; position: absolute; margin-top: 170px;">
						<div class="container" style="height" >
							<h4 id="myh3">Results</h4>
							<div class="grid" style="margin-top: 60px;">
								{{#each tour}}
								<figure class="col-md-4 effect-zoe"><img src="images/location-1.jpg" alt="TravelPedia">
									<figcaption><h4>{{this.destination}}</h4></figcaption>
								</figure>
								{{/each}}
							</div>
						</div>
					</div>

					{{/if}}

					<!-- //end -->
                </div>
            </li>
        </ul>
    </div>
    <!-- //Slider -->
</div>

    <!-- Footer -->
	<div class="agilefooterwthree" id="agilefooterwthree">
		<div style="text-align: center">

			<div class="agilefooterwthree-grids">
				<div class="col-md-4 agilefooterwthree-grid agilefooterwthree-grid1">
					<h4 style="text-align: center">LINKS</h4>
					<ul>
						<li><a class="scroll" href="#agileitshome">HOME</a></li>
						<li><a class="scroll" href="#w3lsaboutaits"><span>ABOUT</span></a></li>
						<li><a class="scroll" href="#wthreelocationsaits"><span>LOCATIONS</span></a></li>
						<li><a class="scroll" href="#agilepackagesw3l"><span>PACKAGES</span></a></li>
						<li><a class="scroll" href="#wthreereviews"><span>REVIEWS</span></a></li>
					</ul>
				</div>
				<div class="col-md-4 agilefooterwthree-grid agilefooterwthree-grid2">
					<h4 style="text-align: center">ADDRESS</h4>
					<address>
						<ul>
                            <li>LNMIIT<li>
							<li>Rupa ki Nangal</li>
							<li>Post-Sumel</li>
							<li>Via-Jamdoli</li>
							<li>Jaipur, Rajasthan</li>
							<li>302031</li>
							<li><a class="mail" href="mailto:mail@example.com">info@travelpedia.com</a></li>
						</ul>
					</address>
				</div>
				<div class="col-md-4 agilefooterwthree-grid agilefooterwthree-grid3 newsletter">
					<h4 style="text-align: center">SUBSCRIBE</h4>
					<p>Subscribe to our Newsletter</p>
					<form action="#" method="post">
						<input class="email aitsw3ls" type="email" placeholder="Your Email" required="">
						<input type="submit" class="submit" value="">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Footer -->

    <!-- Copyright -->
    <div class="copyright">
        <p>© 2017 TravelPedia. All Rights Reserved | Design by <a href="#" target="=_blank"> TravelPedia </a></p>
    </div>
    <!-- //Copyright -->

    <!-- Custom-JavaScript-File-Links -->

	<!-- Default-JavaScript -->   <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="js/bootstrap.js"></script>

    <!-- Javascripts for login  -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="/js/index.js"></script>

    <!-- Responsive-Slider-JavaScript -->
			<script src="/js/responsiveslides.min.js"></script>
			<script>
				$(function () {
					$("#slider").responsiveSlides({
						auto: true,
						nav: true,
						speed: 2000,
						namespace: "callbacks",
						pager: true,
					});
				});
			</script>
		<!-- //Responsive-Slider-JavaScript -->


		<!-- Review-Slider-JavaScript -->
			<script src="/js/main.js"></script>
		<!-- //Review-Slider-JavaScript -->

		<!-- Tour-Locations-JavaScript -->
			<script src="/js/classie.js"></script>
			<script src="/js/helper.js"></script>
			<script src="/js/grid3d.js"></script>
			<script>
				new grid3D( document.getElementById( 'grid3d' ) );
			</script>
		<!-- //Tour-Locations-JavaScript -->

		<!-- Owl-Carousel-JavaScript -->
			<script src="/js/owl.carousel.js"></script>
			<script>
				$(document).ready(function() {
					$("#owl-demo, #owl-demo1, #owl-demo2, #owl-demo3, #owl-demo4").owlCarousel({
						autoPlay: 4000,
						items : 3,
						itemsDesktop : [568,2],
						itemsDesktopSmall : [414,1]
					});
				});
			</script>
		<!-- //Owl-Carousel-JavaScript -->

		<!-- Pricing-Popup-Box-JavaScript -->
			<script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
			<script>
				$(document).ready(function() {
					$('.popup-with-zoom-anim').magnificPopup({
						type: 'inline',
						fixedContentPos: false,
						fixedBgPos: true,
						overflowY: 'auto',
						closeBtnInside: true,
						preloader: false,
						midClick: true,
						removalDelay: 300,
						mainClass: 'my-mfp-zoom-in'
					});
				});
			</script>
		<!-- //Pricing-Popup-Box-JavaScript -->

		<!-- Date-Picker-JavaScript -->
			<script src="/js/jquery-ui.js"></script>
			<script>
				$(function() {
					$( "#datepicker,#datepicker1,#datepicker2" ).datepicker();
				});
			</script>
		<!-- //Date-Picker-JavaScript -->

		<!-- Portfolio-Popup-Box-JavaScript -->
			<script src="/js/jquery.chocolat.js"></script>
			<script type="text/javascript">
				$(function() {
					$('.w3portfolioaits-item a').Chocolat();
				});
			</script>
		<!-- //Portfolio-Popup-Box-JavaScript -->

		<!-- Map-JavaScript -->
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
			<script type="text/javascript">
				google.maps.event.addDomListener(window, 'load', init);
				function init() {
					var mapOptions = {
						zoom: 11,
						center: new google.maps.LatLng(43.73333, 7.41667),
						styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
					};
					var mapElement = document.getElementById('map');
					var map = new google.maps.Map(mapElement, mapOptions);
					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(43.73333, 7.41667),
						map: map,
					});
				}
			</script>
		<!-- //Map-JavaScript -->

		<!-- Smooth-Scrolling-JavaScript -->
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
		<!-- //Smooth-Scrolling-JavaScript -->

		<!-- Slide-To-Top JavaScript -->
			<script type="text/javascript">
				$(document).ready(function() {
					var defaults = {
						containerID: 'toTop',
						containerHoverID: 'toTopHover',
						scrollSpeed: 100,
						easingType: 'linear',
					};
				});
			</script>
			<a href="#agileitshome" id="toTop" class="stuoyal3w scroll stieliga" style="display: block;"> <span id="toTopHover" style="opacity: 0;"> </span></a>
		<!-- //Slide-To-Top JavaScript -->

	<!-- //Custom-JavaScript-File-Links -->
</body>
<!-- //Body -->

</html>
