<!-- Header -->
<div class="col-sm-12 agileheader" id="agileitshome">
	<!-- Navigation -->
	<div class="w3lsnavigation">
		<nav class="navbar navbar-default agilehovereffect">
			<div class="navbar-header navbar-left">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
				<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="w3_navigation_pos">
					<a href="/">
						<img src="images/logo.png" alt="TravelPedia">
						<h1 style="font-size:40px; font-weight:bold;">TravelPedia</h1>
					</a>
				</div>
			</div>

			<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
				<nav class="link-effect-2 wthreehovereffect" id="link-effect-2">
					<ul class="nav navbar-nav">
						<li><a class="scroll" href="#w3lsaboutaits"><span>ABOUT</span></a></li>
						<li><a class="scroll" href="#wthreelocationsaits"><span>LOCATIONS</span></a></li>
						<li><a class="scroll" href="#agilepackagesw3l"><span>PACKAGES</span></a></li>
						<li><a href="tours"><span>TOURS</span></a></li>
						<li><a class="scroll" href="#wthreereviews"><span>REVIEWS</span></a></li>
						<li><a class="scroll" href="#agilecontactw3ls"><span>CONTACT</span></a></li>
						<li><a class="scroll" href="#agilecontactw3ls"><span>LOG IN</span></a></li>
					</ul>
				</nav>
			</div>
		</nav>
	<!-- //Navigation -->

    <!-- Slider -->
        <ul class="rslides" id="slider">
            <li class="first-slide w3ls">
                <img src="images/slide-1.jpg" alt="TravelPedia">
                <div class="wthreexperience">
                    <div id="animated-example" class="animated fadeIn"></div>
                    <!-- <button onclick="myFunction()">Reload page</button> -->
                </div>
            </li>
        </ul>
    <!-- //Slider -->

	<!-- About -->
	<div class="w3lsaboutaits" id="w3lsaboutaits">
		<div class="container">

			<h2>About Our Agency</h2>
			<h4>"There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."</h4>
			<div class="w3lsaboutaits-grids">
				<div class="col-md-6 w3lsaboutaits-grid w3lsaboutaits-grid-1">
					<h3>The Lorem Ipsum</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				</div>
				<div class="col-md-6 w3lsaboutaits-grid w3lsaboutaits-grid-2">
					<h3>Dolores Amet Elit <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<h3>Ad Minim Veniam <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<h3>Ea Commodo Consequat <span><i class="fa fa-angle-right" aria-hidden="true"></i></span></h3>
					<p class="bottom-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
				<div class="clearfix"></div>
			</div> -->

			<!-- Tooltip-Content -->
			<div class="tooltip-content">
				<div class="modal fade details-modal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">The Lorem Ipsum Dolores</h4>
							</div>
							<div class="modal-body">
								<img src="images/about.jpg" alt="TravelPedia">
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Tooltip-Content -->

		</div>
	</div>
	<!-- //About -->



	<!-- Details -->
	<div class="agileinfodetails" id="agileinfodetails">
		<div class="container">

			<div class="col-md-12 agileinfodetails-grid agileinfodetails-heading">
				<h3>Experience the Freedom</h3>
			</div>
			<div class="col-md-12 agileinfodetails-grid agileinfodetails-paragraph">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
	<!-- //Details -->

			<!-- Popup-Box -->
			<div id="popup">
				<div id="small-dialog" class="mfp-hide agileinfo">
					<div class="pop_up">
						<div class="payment-online-form-left w3-agileits">
							<form action="#" method="post">
								<h4><span class="shipping agileits-w3layouts"></span>Customer Details</h4>
								<ul>
									<li><input class="text-box-dark agileits-w3layouts" type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"></li>
									<li><input class="text-box-dark agileits" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
								</ul>
								<ul>
									<li><input class="text-box-dark agile" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
									<li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
								</ul>
								<div class="clear"></div>
								<h4 class="paymenthead"><span class="payment"></span>Payment Details</h4>
								<div class="clear"></div>
								<ul class="payment-type">
									<li><span class="col_checkbox agileits-w3layouts">
											<input id="3" class="css-checkbox1" type="checkbox">
											<label for="3" class="css-label1"></label>
											<a class="visa agileits-w3layouts" href="#"></a>
										</span>
									</li>
									<li>
										<span class="col_checkbox">
											<input id="4" class="css-checkbox2" type="checkbox">
											<label for="4" class="css-label2"></label>
											<a class="paypal w3-agileits" href="#"></a>
										</span>
									</li>
								</ul>
								<ul>
									<li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
									<li><input class="text-box-dark w3layouts" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
								</ul>
								<ul>
									<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
									<li><input class="text-box-dark agileits-w3layouts" type="text" value="CVV" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'CVV';}"></li>
								</ul>
								<ul class="payment-sendbtns">
									<li><input type="reset" value="Reset"></li>
									<li><input type="submit" name="Process Order" value="Process Order"></li>
								</ul>
								<div class="clear agile"></div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<button title="Close (Esc)" type="button" class="mfp-close w3-agileits">×</button>
			<!-- //Popup-Box -->

		</div>
	</div>
	<!-- //Packages -->
