
    <!-- Slider -->
    <div class="slider">
        <ul class="rslides" id="slider">
            <li class="first-slide w3ls">
                <img src="/images/slide-4.jpg" alt="TravelPedia">
					<!-- search table -->
		            <div class="col-sm-12" style="height: 100px; position: absolute; margin-top: 150px;">
		                <h1 id="myh1" style="margin-left: 28px;">Search Tours</h1>
						<form method="post" action="/tours">
		                  <div class="col-sm-12">
		                    <!-- <h4 id="myh4">Username</h3> -->
		                    <input id="inpbox" type="text" class="form-control" name="destination" placeholder="Destination">

		                    <!-- <h4 id="myh4">Password</h4> -->
		                    <input id="inpbox" type="text" class="form-control" name="days" placeholder="Number of days">

							<input id="inpbox" type="text" class="form-control" name="budget" placeholder="Budget">

		                    <!-- <h4 id="myh4">Password</h4> -->
		                    <input id="inpbox" type="text" class="form-control" name="theme" placeholder="Theme">

		                  	<button type="submit" class="newbtn2">Submit</button>
						</div>
		                </form>
		            </div>
		            <!-- end -->

					<!-- Display tours if any -->
					{{#if tour}}
					<div class="col-sm-12 wthreelocationsaits" style="height: 100px; position: absolute; margin-top: 170px;">
						<div class="container" style="height" >
							<h4 id="myh3">Results</h4>
							<div class="grid" style="margin-top: 60px;">
								{{#each tour}}
								<figure class="col-md-4 effect-zoe"><img src="images/location-1.jpg" alt="TravelPedia">
									<figcaption><h4>{{this.destination}}</h4></figcaption>
								</figure>
								{{/each}}
							</div>
						</div>
					</div>

					{{/if}}

					<!-- //end -->
                </div>
            </li>
        </ul>
    </div>
    <!-- //Slider -->
</div>
