
<!-- Header -->
<div class="col-sm-12 agileheader" id="agileitshome">

    <!-- Slider -->
        <ul class="rslides" id="slider">
            <li class="first-slide w3ls">
                <img src="/images/slide-4.jpg" alt="TravelPedia">
					<!-- search table -->
		            <div class="col-sm-12" style="position: absolute; margin-top: 150px;">
		                <h1 id="myh1" style="margin-left: 28px;">Search Tours</h1>
		                <form action="http://127.0.0.1:3000/" method="post">
		                    <input style="border-radius: 8px;" type="text" list="destinations" id="myInput" placeholder="Destination" title="Type in a Place">
		                    <datalist id="destinations">
		                        <option value="Internet Explorer">
		                        <option value="Firefox">
		                        <option value="Chrome">
		                        <option value="Opera">
		                        <option value="Safari">
		                    </datalist>

		                    <input style="border-radius: 8px;" type="text" list="days" id="myInput" placeholder="Number of days" title="Type in the number of days">
		                    <datalist id="days">
		                        <option value="Internet Explorer">
		                        <option value="Firefox">
		                        <option value="Chrome">
		                        <option value="Opera">
		                        <option value="Safari">
		                    </datalist>

		                    <input style="border-radius: 8px;" type="text" list="budget" id="myInput" placeholder="Budget" title="Enter the budget">
		                    <datalist id="budget">
		                        <option value="Internet Explorer">
		                        <option value="Firefox">
		                        <option value="Chrome">
		                        <option value="Opera">
		                        <option value="Safari">
		                    </datalist>

		                    <input style="border-radius: 8px;" type="text" list="theme" id="myInput" placeholder="Theme" title="Enter the theme">
		                    <datalist id="theme">
		                        <option value="Internet Explorer">
		                        <option value="Firefox">
		                        <option value="Chrome">
		                        <option value="Opera">
		                        <option value="Safari">
		                    </datalist>
		                    <button class="newbtn" type="submit" value="Submit">Submit</button>
		                </form>
		            </div>
		            <!-- end -->
                </div>
            </li>
        </ul>
    <!-- //Slider -->
</div>
